body
    link(rel="stylesheet" href="stylesheets/styles.min.css")

    script(type='text/javascript').
        var bootstrappedData = !{JSON.stringify(words)};
    script(src='javascripts/bundle.js')
    .footer #{viewerCount + 1} viewing

    .sidebar
        a.twitter-share-button(rel="canonical", href="https://twitter.com/intent/tweet?hashtags=hiatus&text=Hey%20%23CloneClub%2C%20come%20make%20some%20%40OrphanBlack%20magnetic%20poetry%20on%20Alison's%20fridge&tw_p=tweetbutton&via=clonesanity")