@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

$purple: #1f697f;

html {
  width: 100%;
  height: 100%;
}

body {
  background: url(../img/brushed6.jpg) repeat;
  //-webkit-background-size: 50% 50%;
  //background-size: 50% 50%;

  font-family: Lato, sans-serif;
  font-weight: 100;

  width: 3600px;
  height: 7200px;
  color: hsla(0, 0%, 20%, 1);
  text-shadow: hsla(0, 0%, 40%, .5) 0 -1px 0, hsla(0, 0%, 100%, .6) 0 2px 1px;
}

@mixin clicked {
  background: lighten($purple, 10%);
  color: white;
}

@mixin disorder {
  &:nth-child(5n) {
    transform: rotate(2deg);
  }
  &:nth-child(5n+1) {
    transform: rotate(358deg);
  }
  &:nth-child(5n+2) {
    transform: rotate(3deg);
  }
  &:nth-child(5n+3) {
    transform: rotate(1deg);
  }
  &:nth-child(5n+4) {
    transform: rotate(357deg);
  }
}

@mixin heavy-disorder {
  &:nth-child(17n) {
    transform: rotate(2deg);
  }
  &:nth-child(17n+1) {
    transform: rotate(358deg);
  }
  &:nth-child(17n+2) {
    transform: rotate(30deg);
  }
  &:nth-child(17n+3) {
    transform: rotate(1deg);
  }
  &:nth-child(17n+4) {
    transform: rotate(347deg);
  }
  &:nth-child(17n+5) {
    transform: rotate(357deg);
  }
  &:nth-child(17n+6) {
    transform: rotate(357deg);
  }
  &:nth-child(17n+7) {
    transform: rotate(51deg);
  }
  &:nth-child(17n+8) {
    transform: rotate(352deg);
  }
  &:nth-child(17n+9) {
    transform: rotate(10deg);
  }
  &:nth-child(17n+10) {
    transform: rotate(240deg);
  }
  &:nth-child(17n+11) {
    transform: rotate(15deg);
  }
  &:nth-child(17n+12) {
    transform: rotate(340deg);
  }
  &:nth-child(17n+13) {
    transform: rotate(140deg);
  }
  &:nth-child(17n+15) {
    transform: rotate(330deg);
  }
  &:nth-child(17n+16) {
    transform: rotate(40deg);
  }
}

.magnet.remote-click {
  @include clicked;
  transition: 0.4s all;
}

.remote-move {
  transition: 0.4s all;
}

.magnet {
  cursor: move;
  position: absolute;
}

.text {
  @extend .magnet;
  @include disorder;
  margin: 2px;
  display: inline;
  padding: 4px;
  font-family: Garamond, Bookman, Times New Roman;
  font-size: 16px;
  line-height: 22px;
  background: white;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.75);

  &:hover {
    @include clicked;
  }

  &:selection, &:-moz-selection {
    background: white; /* WebKit/Blink Browsers */
  }
}

@mixin rainbow {
  &:nth-child(7n) {
    color: red;
    @include shadow-for(180, 0, 0);
  }
  &:nth-child(7n+1) {
    color: orangered;
    @include shadow-for(145, 70, 0);
  }
  &:nth-child(7n+2) {
    color: gold;
    @include shadow-for(255, 180, 0);
  }
  &:nth-child(7n+3) {
    color: #6cd340;
    @include shadow-for(0, 80, 0);
  }
  &:nth-child(7n+4) {
    color: blue;
    @include shadow-for(0, 0, 150);
  }
  &:nth-child(7n+5) {
    color: indigo;
    @include shadow-for(40, 0, 40);

  }
  &:nth-child(7n+6) {
    color: #ee359f;
    @include shadow-for(125, 0, 125);
  }
}

@mixin shadow-for($r, $g, $b) {
  text-shadow:
  1px 8px 0px rgba($r, $g, $b, 0.8),
  1px 7px 0px rgba($r, $g, $b, 1),
  1px 6px 0px rgba($r, $g, $b, 1),
  1px 5px 0px rgba($r, $g, $b, 1),
  1px 4px 0px rgba($r, $g, $b, 1),
  1px 3px 0px rgba($r, $g, $b, 1),
  1px 2px 0px rgba($r, $g, $b, 1),
  1px 1px 0px rgba($r, $g, $b, 1),
  1px 1px 5px lighten(rgb($r, $g, $b), 10%),
  //0px 1px 3px rgba($r, $g, $b, 1),
}

.alphabet {
  @extend .magnet;
  @include heavy-disorder;
  @include rainbow;
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 140px;
  background: transparent;
  font-weight: bold;
}

img {
  @extend .magnet;
  @include disorder;
  box-shadow: 1px 1px 0px 1px rgba(80, 80, 80, 0.95);
}

img[src*='elect-alison.png'] {
  border-radius: 100%;
}

img[src*='AlisonBannerSmall.jpg'] {
  width: 600px;
  transform: rotate(10deg);
}

img[src*='gunClub.png'] {
  border-radius: 100%;
  border: 5px solid white;
  transform: rotate(340deg);
}

img[src*='SRCLOGO.gif'] {
  width: 200px;
  border-radius: 100%;
  transform: rotate(25deg);
  background-color: white;
}

img[src*='familyPortrait.jpg'] {
  width: 400px;
}

img[src*='alison-gun-magnet.png'] {
  border-radius: 10px;
  width: 150px;
}

img[src*='bloodtiesSTORY.jpg'] {
  width: 400px;
}
img[src*='mod_03.gif'],
img[src*='mod_06.gif'],
img[src*='mod_09.gif'],
img[src*='mod_13.gif'],
img[src*='mod_17.gif'],
img[src*='mod_21.gif'],
img[src*='chevron_03.png'],
img[src*='wecandoit.png'] {
  border-radius: 100%;
}

.footer {
  @include clicked;
  position: fixed;
  opacity: 0.8;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 10px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 20px;
}

/* Effect 2: Reveal */
.st-effect-2.st-menu-open .st-pusher {
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}

.st-effect-2.st-menu {
  z-index: 1;
}

.st-effect-2.st-menu-open .st-effect-2.st-menu {
  visibility: visible;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.st-effect-2.st-menu::after {
  display: none;
}